.container {
    padding: 20px;
    display: flex;
    justify-content: center;
}

mat-card {
    max-width: 500px;
    width: 100%;
}

.full-width {
    width: 100%;
    margin-bottom: 10px;
}

.offset-slider {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

input[type=range] {
    width: 100%;
    margin-top: 10px;
}